version: "3.8"
services:
    nginx-business:
        image: nginx:stable-alpine
        container_name: nginx-tabantaj #uncommment if will not use swarm
        restart: unless-stopped
        tty: true
        ports:
            - 80:80
            - 443:443
        volumes:
            - .:/var/www/html
            - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - mariadb-business
        networks:
            - business-network

    php:
        #uncomment this if you will use only docker compose
        build:
            context: "./infra/php/"
            dockerfile: Dockerfile
        #     # target: php-production  # Specify the target build stage if applicable
        #     # args:
        #     # - BUILD_ENV=production  # Pass any necessary build arguments
        # #container_name: php-tabantaj
        #uncomment this if you will use only docker compose
        #image: johnvo95/tabantaj_php-tabantaj:latest
        container_name: php-business
        restart: unless-stopped
        tty: true
        volumes:
            - .:/var/www/html
        ports:
            - 9000:80
        networks:
            - business-network
        # deploy:
        #   replicas: 1 # Set the desired number of replicas
        #   restart_policy:
        #     condition: on-failure
    wordpress-business:
        container_name: wordpress-business
        build:
            context: .
            dockerfile: ./infra/wordpress/Dockerfile.wordpress
        restart: unless-stopped
        ports:
            - 7006:80 # Expose http and https
            - 8443:443
        stdin_open: true
        tty: true
        environment:
            WORDPRESS_DB_HOST: mariadb-business
            WORDPRESS_DB_USER: wordpress
            WORDPRESS_DB_PASSWORD: wordpress
            WORDPRESS_DB_NAME: wordpress
        volumes:
            - wordpress_data:/var/www/html
        networks:
            - business-network

    mariadb-business:
        container_name: mariadb-business
        image: mariadb
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpress
            MYSQL_PASSWORD: wordpress
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - business-network

    mysql-business:
        image: mysql:8.0
        container_name: mysql-business
        restart: unless-stopped
        tty: true
        ports:
            - 33069:3306
        volumes:
            - business-db:/var/lib/mysql
        environment:
            MYSQL_DATABASE: "homestead"
            MYSQL_USER: "homestead"
            MYSQL_PASSWORD: "secret"
            MYSQL_ROOT_PASSWORD: "secret"
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        networks:
            - business-network
volumes:
    business-db:
        driver: local
    wordpress_data:
        driver: local
    db_data:
        driver: local

networks:
    business-network:
