version: "3.8"
services:
    nginx-business:
        image: nginx:stable-alpine
        container_name: nginx-tabantaj #uncommment if will not use swarm
        restart: unless-stopped
        tty: true
        ports:
            - 80:80
            - 443:443
        volumes:
            - .:/var/www/html
            - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - business-network

    php:
        #uncomment this if you will use only docker compose
        build:
            context: "./infra/php/"
            dockerfile: Dockerfile
        #     # target: php-production  # Specify the target build stage if applicable
        #     # args:
        #     # - BUILD_ENV=production  # Pass any necessary build arguments
        # #container_name: php-tabantaj
        #uncomment this if you will use only docker compose
        #image: johnvo95/tabantaj_php-tabantaj:latest
        container_name: php-business
        restart: unless-stopped
        tty: true
        volumes:
            - .:/var/www/html
        ports:
            - 9000:80
        networks:
            - business-network
        # deploy:
        #   replicas: 1 # Set the desired number of replicas
        #   restart_policy:
        #     condition: on-failure

    wordpress-business:
        container_name: wordpress-business
        build:
            context: .
            dockerfile: ./infra/wordpress/Dockerfile.wordpress
        restart: unless-stopped
        ports:
            - 7006:80 # Expose http and https
            - 8443:443
        stdin_open: true
        tty: true
        environment:
            WORDPRESS_DB_HOST: mysqlwordpress-business:3030
            WORDPRESS_DB_USER: wordpress
            WORDPRESS_DB_PASSWORD: wordpress
            WORDPRESS_DB_NAME: wordpress
            WORDPRESS_DB_PORT: 3030
        volumes:
            - wordpress_data:/var/www/html
        networks:
            - business-network

    mysql-business:
        image: mysql:8.1
        container_name: mysql-business
        restart: unless-stopped
        tty: true
        ports:
            - 33069:3306
        volumes:
            - business-db:/var/lib/mysql
        environment:
            MYSQL_DATABASE: "homestead"
            MYSQL_USER: "homestead"
            MYSQL_PASSWORD: "secret"
            MYSQL_ROOT_PASSWORD: "secret"
        networks:
            - business-network

    mysqlwordpress-business:
        image: mariadb:11
        container_name: mysqlwordpress-business
        restart: unless-stopped
        tty: true
        ports:
            - 3030:3306
        volumes:
            - wordbusiness-dba:/var/lib/mysql
        environment:
            MYSQL_DATABASE: "ciberblog"
            MYSQL_USER: "homestead"
            MYSQL_PASSWORD: "secret"
            MYSQL_ROOT_PASSWORD: "secret"
        networks:
            - business-network

volumes:
    business-db:
        driver: local
    wordpress_data:
        driver: local
    wordbusiness-dba:
        driver: local

networks:
    business-network:
