name: Security checks
run-name: ${{ github.actor }} run security checks
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
jobs:
  Security-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install composer dependencies
        run: composer install

      - name: Find security vulnerabilities in your PHP
        uses: psalm/psalm-github-security-scan@1.2.1

      - name: Checks composer.json for known vulnerabilities
        uses: symfonycorp/security-checker-action@v4
        with:
          lock: ./composer.lock

      - name: Configurar entorno
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa || (echo "Error al escribir la clave privada" && exit 1)
          chmod 600 ~/.ssh/id_rsa || (echo "Error al cambiar los permisos de la clave privada" && exit 1)

          # Agregar la entrada al archivo known_hosts usando el fingerprint obtenido
          echo "192.168.9.53 ssh-rsa AAAAB3N...RRGJ80jh9grh3Q6v5J8GFkA5pdrpvhDbYV5BPaMD88I" >> ~/.ssh/known_hosts || (echo "Error al agregar la entrada al archivo known_hosts" && exit 1)
        shell: /usr/bin/bash -e {0}
        env:
          COMPOSER_PROCESS_TIMEOUT: 0
          COMPOSER_NO_INTERACTION: 1
          COMPOSER_NO_AUDIT: 1

      - name: Construir y desplegar
        run: |
          # Comandos para construir y desplegar la aplicación
          # Por ejemplo, puedes usar rsync, scp u otros comandos según tus necesidades
          # Ejemplo con rsync:
          rsync -r --delete-after --quiet $GITHUB_WORKSPACE/ desarrollo@192.168.9.53:/ruta/del/despliegue

      - name: Notificar éxito de despliegue
        run: |
          # Puedes agregar comandos para notificar el éxito del despliegue
          # Esto puede ser útil para enviar mensajes a Slack, correo electrónico, etc.
