name: Security checks
run-name: ${{ github.actor }} run security checks
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
jobs:
  Security-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install composer dependencies
        run: composer install

      - name: Find security vulnerabilities in your PHP
        uses: psalm/psalm-github-security-scan@1.2.1

      - name: Checks composer.json for known vulnerabilities
        uses: symfonycorp/security-checker-action@v4
        with:
          lock: ./composer.lock

      - name: Verificar conexión SSH
        run: |
          ssh desarrollo@192.168.9.53 || (echo "Error en la conexión SSH" && exit 1)

      - name: Copiar archivos con SCP
        run: |
          scp -o ConnectTimeout=100 -r $GITHUB_WORKSPACE/* desarrollo@192.168.9.53:/var/contenedor/silentpage/ || (echo "Error al copiar archivos con SCP" && exit 1)

      - name: Notificar éxito de despliegue
        run: |
          # Puedes agregar comandos para notificar el éxito del despliegue
          # Esto puede ser útil para enviar mensajes a Slack, correo electrónico, etc.
